@using ECommerceProject.Application.DTOs
@using ECommerceProject.Application.DTOs.Category


@model IEnumerable<GetCategoryDto>

<div class="w-100 card border-0 p-4">
    <div class="card-header gg-title ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@SharedLocalizer["CategoryList"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-secondary">
                    <i class="bi bi-plus-circle"></i> @SharedLocalizer["CreateNewCategory"]
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @SharedLocalizer["Name"]
                    </th>
                    <th>@SharedLocalizer["Description"]</th>
                    <th>@SharedLocalizer["ProductCount"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var catg in Model)
                {
                    <tr>
                        <td>@catg.Name</td>
                        <td>@catg.Description</td>
                        <td>@catg.ProductCount</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Category" asp-action="Update" asp-route-catgId="@catg.Id"
                                   class="btn btn-success mx-2">
                                    <i class="bi bi-pencil-square"></i> @SharedLocalizer["Edit"]
                                </a>
                                <button 
                                   class="btn btn-danger mx-2"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteModal"
                                        data-id="@catg.Id"
                                        data-name="@catg.Name">
                                    <i class="bi bi-trash-fill"></i> @SharedLocalizer["Delete"]
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




<!-- Delete Modal -->
<partial name="_DeleteCategoryModal" />