

<div class="w-100 card border-0 p-4">
    <div class="card-header gg-title ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@SharedLocalizer["OrderList"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">

        <table id="OrderTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>@SharedLocalizer["OrderId"]</th>
                    <th>@SharedLocalizer["TotalAmount"]</th>
                    <th>@SharedLocalizer["OrderStatus"]</th>
                    <th>@SharedLocalizer["PaymentStatus"]</th>
                    <th>@SharedLocalizer["CreatedAt"]</th>
                    <th>@SharedLocalizer["Actions"]</th>
                </tr>
            </thead>
        </table>

    </div>
</div>



@section Scripts {

    <!-- Data Table -->
    <script src="~/DataTables/datatables.min.js"></script>

    <!-- Custom Table Script -->
    <script src="~/js/custom/ordertable.js"></script>

}
