@using ECommerceProject.Application.DTOs.Order
@using ECommerceProject.Domain.Enums


@model IEnumerable<GetOrderDto>

<div class="w-100 card border-0 p-4">
    <div class="card-header gg-title ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Order List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
       
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Order Id
                    </th>
                    <th>Total Amount</th>
                    <th>Order Status</th>
                    <th>Payment Status</th>
                    <th>Created At</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prod in Model)
                {
                    <tr>
                        <td>@prod.Id</td>
                        <td>@prod.TotalAmount</td>
                        <td>@prod.OrderStatus</td>
                        <td>@prod.PaymentStatus</td>
                        <td>@prod.CreatedAt</td>

                        <td>
                            <div class="w-75 btn-group" role="group">
                                @if (prod.PaymentStatus == PaymentStatus.Pending)
                                {
                                    <a asp-controller="Payment" asp-action="Pay" asp-route-orderId="@prod.Id"
                                    class="btn btn-success mx-2">
                                        Pay Now
                                    </a>
                                }
                                else if (prod.PaymentStatus == PaymentStatus.Paid)
                                {
                                    <button disabled class="btn btn-secondary mx-2">
                                        Already Paid
                                    </button>
                                }
                                else
                                {
                                    <button disabled class="btn btn-danger mx-2">
                                        Payment Faild
                                    </button>
                                }
                            </div>
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

