@using ECommerceProject.Application.DTOs.Product


@model IEnumerable<GetProductDto>

<div class="w-100 card border-0 p-4">
    <div class="card-header gg-title ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@SharedLocalizer["ProductList"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Product" asp-action="Create" class="btn btn-secondary">
                    <i class="bi bi-plus-circle"></i> @SharedLocalizer["CreateNewProduct"]
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @SharedLocalizer["ProductName"]
                    </th>
                    <th>@SharedLocalizer["Price"]</th>
                    <th>@SharedLocalizer["StockQuantity"]</th>
                    <th>@SharedLocalizer["Status"]</th>
                    <th>@SharedLocalizer["CreatedAt"]</th>
                    <th>@SharedLocalizer["CategoryName"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prod in Model)
                {
                    <tr>
                        <td>@prod.Name</td>
                        <td>@prod.Price</td>
                        <td>@prod.StockQuantity</td>
                        <td>@prod.IsActive</td>
                        <td>@prod.CreatedAt</td>
                        <td>@prod.CategoryName</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Product" asp-action="Update" asp-route-prodId="@prod.Id"
                                   class="btn btn-success mx-2">
                                    <i class="bi bi-pencil-square"></i> @SharedLocalizer["Edit"]
                                </a>
                                <button class="btn btn-danger mx-2"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteModal"
                                        data-id="@prod.Id"
                                        data-content="@prod.Name">
                                    <i class="bi bi-trash-fill"></i> @SharedLocalizer["Delete"]
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




<!-- Delete Modal -->
<partial name="_DeleteProductModal" />