@using System.Globalization
﻿
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name"
      dir="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce Website</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

    @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    }


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/bootstrabicons.css" rel="stylesheet" />
    <link href="~/css/toaster.css" rel="stylesheet" />

    <!-- Data Table -->
    <link href="~/DataTables/datatables.min.css" rel="stylesheet">
    

</head>
<body >
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary">
            <div class="container-fluid">

                <!-- Logo -->
                <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">@SharedLocalizer["Logo"]</a>

                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left Links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ms-2">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">@SharedLocalizer["Home"]</a>
                        </li>

                        <li class="nav-item ms-2">
                            <a class="nav-link active" asp-controller="Product" asp-action="ShowAllProducts">@SharedLocalizer["BrowseProducts"]</a>
                        </li>



                        <li class="nav-item ms-2">
                            <a class="nav-link" asp-controller="Order" asp-action="Index">@SharedLocalizer["ManageOrders"]</a>
                        </li>


                        @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown ms-2">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                   data-bs-toggle="dropdown">
                                    @SharedLocalizer["AdminSection"]
                                </a>
                                <ul class="dropdown-menu ms-2">
                                    <li><a class="dropdown-item" asp-controller="Dashboard" asp-action="Admin">@SharedLocalizer["Dashboard"]</a></li>
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="ManageUsers">@SharedLocalizer["ManageUsers"]</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="ManageWithdrawals">@SharedLocalizer["ManageWithdrawals"]</a></li>

                                </ul>
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated && User.IsInRole("Seller"))
                        {
                            <li class="nav-item dropdown ms-2">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                   data-bs-toggle="dropdown">
                                    @SharedLocalizer["SellerSection"]
                                </a>
                                <ul class="dropdown-menu ms-2">
                                    <li><a class="dropdown-item" asp-controller="Category" asp-action="Index">@SharedLocalizer["Categories"]</a></li>
                                    <li><a class="dropdown-item" asp-controller="Product" asp-action="Index">@SharedLocalizer["Products"]</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-controller="wallet" asp-action="Index">@SharedLocalizer["Wallet"]</a></li>
                                    <li><a class="dropdown-item" asp-controller="Dashboard" asp-action="Seller">@SharedLocalizer["Dashboard"]</a></li>
                                </ul>
                            </li>
                        }

                        <li class="nav-item ms-3">
                            <a class="nav-link cart-link d-flex align-items-center gap-2"
                               asp-controller="Cart"
                               asp-action="Index">

                                <i class="bi bi-cart3 cart-icon"></i>

                                <span class="fw-semibold">
                                    @SharedLocalizer["Cart"]
                                </span>

                                
                                @* <span class="badge bg-danger cart-badge">2</span> *@
                            </a>
                        </li>

                        
                    </ul>

                    <!-- Right Links -->
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <!-- Language Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center"
                               href="#"
                               id="languageDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">

                                <i class="bi bi-globe me-1"></i>
                                @SharedLocalizer["Language"]
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">

                                <li>
                                    <a class="dropdown-item d-flex align-items-center"
                                       href="@Url.Action("SetLanguage", "Home", new {
                                            culture = "en-US",
                                            returnUrl = Context.Request.Path + Context.Request.QueryString
                                       })">

                                        
                                        English
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item d-flex align-items-center"
                                       href="@Url.Action("SetLanguage", "Home", new {
                                            culture = "ar-EG",
                                            returnUrl = Context.Request.Path + Context.Request.QueryString
                                       })">

                                        
                                        العربية
                                    </a>
                                </li>

                            </ul>
                        </li>

                        @* Auth Links *@
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ms-3">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">
                                    @SharedLocalizer["SignUp"]
                                </a>
                            </li>

                            <li class="nav-item ms-3">
                                <a class="nav-link" asp-controller="Account" asp-action="LogIn">
                                    @SharedLocalizer["Login"]
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ms-3">
                                <span class="nav-link">
                                    @SharedLocalizer["Hello"], @User.Identity.Name
                                </span>
                            </li>

                            <li class="nav-item ms-3">
                                <form asp-controller="Account" asp-action="LogOut" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        @SharedLocalizer["Logout"]
                                    </button>
                                </form>
                            </li>
                        }

                    </ul>


                </div>
            </div>
        </nav>
</header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - ECommerceProject.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Jquery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)


    <!-- Toaster -->
    <script src="~/js/toaster.js"></script>

    <!-- Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/validation-styling.js"></script>


    <!-- Notifications -->
    <partial name="_Notification" />



    


</body>
</html>





